torch
torchvision
numpy
tqdm
matplotlib
braceexpand
einops
imageio
ipython
kornia
omegaconf
Pillow
PyYaml
scikit_learn
scikit-image
torch.optimizer
torch-tools

git+https://github.com/bfirsh/taming-transformers.git@7a6e64ee
git+https://github.com/openai/CLIP@573315e
git+https://github.com/pvigier/perlin-numpy@6f077f8
